@import "tailwindcss";

body {
  font-family: "Pixelify Sans", sans-serif;
  background: radial-gradient(
    circle at center,
    #0a4650 0%,
    #062f36 45%,
    #021c22 100%
  );
}

.game-setup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
}

@media (max-width: 480px) {
  .game-setup {
    flex-direction: column;
    row-gap: 50px;
  }
}
